body {
    background-color:white;
}

#imageCarousel {
    height: 800px;
}

.carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 20px;
}

.carousel-indicators .active {
    background-color: red;
    opacity: 100%;

}

#logoNavbar {
    max-width: 35%;
}

#breakerCarouselInfo {
    height: 120px;
}

.socialsLogo{
    margin-top: 3em;
}

#twitter{
    color: #1DA1F2;
}

#youtube{
    color: #FF0000;
}

#facebook{
    color: #4267B2;
}

#linkedin{
    color:#2867B2;
}

#instagram {
    opacity: 75%;
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.containerLogos .fa{
    margin-right: 1em;
}

.img-logo{
    height: 50px;    
    margin: 1.5em;
}

.logoContainer{
    padding-top: 2em;
}

.bottom-logoContainer{
    padding-top: 3em;
}

#cardsPodcast .card-img-top{
    display: flex;
    align-self: center;
    /* border-radius: 50%; */
    max-height: 200px;
    max-width: 200px;
}

#cardsPodcast img{
    filter: grayscale(100);
    display: block;
    max-height: 175px;
    max-width: 175px;
    width: auto;
    height: auto;
}

#cardsPodcast .card{
    background: none;
}


#arrowToTeam {
    color: gray;
    font-size: 50px;
}


#AboutShort hr {
    background-color: red;
    width: 5em;
    height: 5px;
    margin-top: -6px;
}

#homecarousel-1 {
    height: 50vh;
    background-image: url("../img/powerOfUnTruth.png");
    background-size: cover;

}

#homecarousel-2 {
    height: 50vh;
    background-image: url("../img/tedxkulteam.jpg");
    background-size: cover;
}

#homecarousel-3 {
    height: 50vh;
    background-image: url("../img/x-traTime.jpg");
    background-size: cover;
}

#btnCarousel {
    border-radius: 100%;
}

.footerTEDx{
    background-color: whitesmoke
}

.required:after {
    content: " *";
    color: red;
}

.btn:hover {
    background-color: rgba(255, 0, 0, 0.6);
    color: white;
}

.startPage{
    padding-top: 45Dpx;;
}

.navbar-toggler span {
    display: block;
    background-color: white;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    position: relative;
    left: 0;
    opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
    -webkit-transition: transform .35s ease-in-out;
    -moz-transition: transform .35s ease-in-out;
    -o-transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}




/*----------multi-level-accordian-menu------------*/
.navbar-logo{
	padding: 15px;
	color: #fff;
}
.navbar-mainbg{
	background-color: rgb(52, 58, 64);
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 2px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: red;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(52, 58, 64);
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}

/*.navbar-brand{
	background-image: url("../img/TEDxKUL-logo.png");
	background-size: cover;

}
*/

@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}