

#imageCarousel{
    height: 800px;
}
.carousel .carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 20px;
}
.carousel-indicators .active{
    background-color: red;

}

#breakerCarouselInfo{
    height: 120px;
}

#AboutShort{
    margin-left: 2.5em;
}

#AboutShort hr{
    background-color: red; 
    width: 5em;
    height: 0.5em;
    margin-top: -6px;
}
